<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 card p-4 shadow">
            <h3 class="text-center mb-4">New Password</h3>
            <form th:action="@{/reset-password}" method="post">
                <input type="hidden" name="token" th:value="${token}"/>
                <div class="mb-3">
                    <label class="form-label">Enter New Password</label>
                    <input type="password" name="password" class="form-control" required minlength="6"/>
                </div>
                <button type="submit" class="btn btn-success w-100">Update Password</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>